[Desktop Entry]
Encoding=UTF-8
Name=Lien vers corrige_exam_mai17.pdf
Type=Link
URL=http://dept-info.labri.fr/ENSEIGNEMENT/compi/corrige_exam_mai17.pdf
Icon=application-pdf
