[Desktop Entry]
Encoding=UTF-8
Name=Lien vers examavril18_solutions.tar
Type=Link
URL=http://dept-info.labri.fr/ENSEIGNEMENT/compi/examavril18_solutions.tar
Icon=application-x-tar
