[Desktop Entry]
Encoding=UTF-8
Name=Lien vers EXEMPLES_projet1617.tar
Type=Link
URL=http://dept-info.labri.fr/ENSEIGNEMENT/compi/EXEMPLES_projet1617.tar
Icon=application-x-tar
