[Desktop Entry]
Encoding=UTF-8
Name=Lien vers semantique.pdf
Type=Link
URL=http://dept-info.labri.fr/ENSEIGNEMENT/compi/semantique.pdf
Icon=application-pdf
