[Desktop Entry]
Encoding=UTF-8
Name=Lien vers td2solutions.tar
Type=Link
URL=http://dept-info.labri.fr/ENSEIGNEMENT/compi/td2solutions.tar
Icon=application-x-tar
