[Desktop Entry]
Encoding=UTF-8
Name=Lien vers td4anasynt.pdf
Type=Link
URL=http://dept-info.labri.fr/ENSEIGNEMENT/compi/td4anasynt.pdf
Icon=application-pdf
